@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* ======================================================= */
/* FIX STAMPANTE TERMICA: Rotolo continuo senza pagine bianche */
/* ======================================================= */
@media print {
  @page { 
    margin: 0; 
    size: 80mm auto; /* Dice al browser che l'altezza è variabile! */
  }
  html, body { 
    margin: 0; 
    padding: 0;
    height: auto; 
  }
}